
.vs/games/v16/Browse.VC.opendb
.vs/games/v16/Browse.VC.db
.vs/games/v16/.suo
.vs/games/v16/Solution.VC.db-shm
.vs/games/v16/Solution.VC.db-wal
.vs/games/v16/Browse.VC.db
.vs/games/v16/.suo
*.suo
*.user
_ReSharper.*
bin
obj
packages
*.obj
game/client/Debug_tf_mod/func_ladder.obj
game/client/Debug_tf_mod/functionproxy.obj
game/client/Debug_tf_mod/fx.obj
game/client/Debug_tf_mod/fx_blood.obj
game/client/Debug_tf_mod/fx_cube.obj
game/client/Debug_tf_mod/fx_discreetline.obj
game/client/Debug_tf_mod/fx_envelope.obj
game/client/Debug_tf_mod/fx_explosion.obj
game/client/Debug_tf_mod/fx_fleck.obj
game/client/Debug_tf_mod/fx_impact.obj
game/client/Debug_tf_mod/fx_interpvalue.obj
game/client/Debug_tf_mod/fx_line.obj
game/client/Debug_tf_mod/fx_quad.obj
game/client/Debug_tf_mod/fx_shelleject.obj
game/client/Debug_tf_mod/fx_sparks.obj
game/client/Debug_tf_mod/fx_staticline.obj
game/client/Debug_tf_mod/fx_tracer.obj
game/client/Debug_tf_mod/fx_trail.obj
game/client/Debug_tf_mod/fx_water.obj
game/client/Debug_tf_mod/gamemovement.obj
game/client/Debug_tf_mod/gamerules.obj
game/client/Debug_tf_mod/gamerules_register.obj
game/client/Debug_tf_mod/GameStats.obj
game/client/Debug_tf_mod/gamestringpool.obj
game/client/Debug_tf_mod/gametrace_client.obj
game/client/Debug_tf_mod/gamevars_shared.obj
game/client/Debug_tf_mod/geiger.obj
game/client/Debug_tf_mod/glow_outline_effect.obj
game/client/Debug_tf_mod/glow_overlay.obj
game/client/Debug_tf_mod/haptic_msgs.obj
game/client/Debug_tf_mod/haptic_utils.obj
game/client/Debug_tf_mod/hintmessage.obj
game/client/Debug_tf_mod/hintsystem.obj
game/client/Debug_tf_mod/history_resource.obj
game/client/Debug_tf_mod/hltvcamera.obj
game/client/Debug_tf_mod/hud.obj
game/client/Debug_tf_mod/hud_animationinfo.obj
game/client/Debug_tf_mod/hud_autoaim.obj
game/client/Debug_tf_mod/hud_base_account.obj
game/client/Debug_tf_mod/hud_basechat.obj
game/client/Debug_tf_mod/hud_basedeathnotice.obj
game/client/Debug_tf_mod/hud_basetimer.obj
game/client/Debug_tf_mod/hud_bitmapnumericdisplay.obj
game/client/Debug_tf_mod/hud_closecaption.obj
game/client/Debug_tf_mod/hud_controlpointicons.obj
game/client/Debug_tf_mod/hud_crosshair.obj
game/client/Debug_tf_mod/hud_element_helper.obj
game/client/Debug_tf_mod/hud_filmdemo.obj
game/client/Debug_tf_mod/hud_hdrdemo.obj
game/client/Debug_tf_mod/hud_hintdisplay.obj
game/client/Debug_tf_mod/hud_lcd.obj
game/client/Debug_tf_mod/hud_msg.obj
game/client/Debug_tf_mod/hud_numericdisplay.obj
game/client/Debug_tf_mod/hud_pdump.obj
game/client/Debug_tf_mod/hud_redraw.obj
game/client/Debug_tf_mod/hud_vehicle.obj
game/client/Debug_tf_mod/hud_vguiscreencursor.obj
game/client/Debug_tf_mod/hud_voicestatus.obj
game/client/Debug_tf_mod/hud_weapon.obj
game/client/Debug_tf_mod/IconPanel.obj
game/client/Debug_tf_mod/igamesystem.obj
game/client/Debug_tf_mod/in_camera.obj
game/client/Debug_tf_mod/in_joystick.obj
game/client/Debug_tf_mod/in_main.obj
game/client/Debug_tf_mod/in_mouse.obj
game/client/Debug_tf_mod/in_sixense.obj
game/client/Debug_tf_mod/in_sixense_gesture_bindings.obj
game/client/Debug_tf_mod/initializer.obj
game/client/Debug_tf_mod/interpolatedvar.obj
game/client/Debug_tf_mod/interpolatortypes.obj
game/client/Debug_tf_mod/interval.obj
game/client/Debug_tf_mod/intromenu.obj
game/client/Debug_tf_mod/IsNPCProxy.obj
game/client/Debug_tf_mod/jigglebones.obj
game/client/Debug_tf_mod/lampbeamproxy.obj
game/client/Debug_tf_mod/lamphaloproxy.obj
game/client/Debug_tf_mod/language.obj
game/client/Debug_tf_mod/mapentities_shared.obj
game/client/Debug_tf_mod/MapOverview.obj
game/client/Debug_tf_mod/mathproxy.obj
game/client/Debug_tf_mod/matrixproxy.obj
game/client/Debug_tf_mod/memoverride.obj
game/client/Debug_tf_mod/menu.obj
game/client/Debug_tf_mod/message.obj
game/client/Debug_tf_mod/movehelper_client.obj
game/client/Debug_tf_mod/movevars_shared.obj
game/client/Debug_tf_mod/mp3player.obj
game/client/Debug_tf_mod/mp_shareddefs.obj
game/client/Debug_tf_mod/multiplay_gamerules.obj
game/client/Debug_tf_mod/multiplayer_animstate.obj
game/client/Debug_tf_mod/mumble.obj
game/client/Debug_tf_mod/NavProgress.obj
game/client/Debug_tf_mod/networkvar.obj
game/client/Debug_tf_mod/ObjectControlPanel.obj
game/client/Debug_tf_mod/obstacle_pushaway.obj
game/client/Debug_tf_mod/panelmetaclassmgr.obj
game/client/Debug_tf_mod/particle_collision.obj
game/client/Debug_tf_mod/particle_litsmokeemitter.obj
game/client/Debug_tf_mod/particle_parse.obj
game/client/Debug_tf_mod/particle_property.obj
game/client/Debug_tf_mod/particle_proxies.obj
game/client/Debug_tf_mod/particle_simple3d.obj
game/client/Debug_tf_mod/particlemgr.obj
game/client/Debug_tf_mod/particles_attractor.obj
game/client/Debug_tf_mod/particles_ez.obj
game/client/Debug_tf_mod/particles_localspace.obj
game/client/Debug_tf_mod/particles_new.obj
game/client/Debug_tf_mod/particles_simple.obj
game/client/Debug_tf_mod/particlesphererenderer.obj
game/client/Debug_tf_mod/particlesystemquery.obj
game/client/Debug_tf_mod/perfvisualbenchmark.obj
game/client/Debug_tf_mod/physics.obj
game/client/Debug_tf_mod/physics_main_client.obj
game/client/Debug_tf_mod/physics_main_shared.obj
game/client/Debug_tf_mod/physics_saverestore.obj
game/client/Debug_tf_mod/physics_shared.obj
game/client/Debug_tf_mod/physpropclientside.obj
game/client/Debug_tf_mod/playerandobjectenumerator.obj
game/client/Debug_tf_mod/playerclass_info_parse.obj
game/client/Debug_tf_mod/playerspawncache.obj
game/client/Debug_tf_mod/point_bonusmaps_accessor.obj
game/client/Debug_tf_mod/point_posecontroller.obj
game/client/Debug_tf_mod/posedebugger.obj
game/client/Debug_tf_mod/precache_register.obj
game/client/Debug_tf_mod/predictableid.obj
game/client/Debug_tf_mod/prediction.obj
game/client/Debug_tf_mod/predictioncopy.obj
game/client/Debug_tf_mod/props_shared.obj
game/client/Debug_tf_mod/proxyentity.obj
game/client/Debug_tf_mod/ProxyHealth.obj
game/client/Debug_tf_mod/proxyplayer.obj
game/client/Debug_tf_mod/proxypupil.obj
game/client/Debug_tf_mod/ragdoll.obj
game/client/Debug_tf_mod/ragdoll_shared.obj
game/client/Debug_tf_mod/randoverride.obj
game/client/Debug_tf_mod/recvproxy.obj
game/client/Debug_tf_mod/renamed_recvtable_compat.obj
game/client/Debug_tf_mod/rendertexture.obj
game/client/Debug_tf_mod/replaycamera.obj
game/client/Debug_tf_mod/rope_helpers.obj
game/client/Debug_tf_mod/rope_physics.obj
game/client/Debug_tf_mod/saverestore.obj
game/client/Debug_tf_mod/sceneentity_shared.obj
game/client/Debug_tf_mod/scratchpad3d.obj
game/client/Debug_tf_mod/ScratchPadUtils.obj
game/client/Debug_tf_mod/ScreenSpaceEffects.obj
game/client/Debug_tf_mod/sentence.obj
game/client/Debug_tf_mod/sequence_Transitioner.obj
game/client/Debug_tf_mod/sheetsimulator.obj
game/client/Debug_tf_mod/simple_keys.obj
game/client/Debug_tf_mod/simple_physics.obj
game/client/Debug_tf_mod/simtimer.obj
game/client/Debug_tf_mod/singleplay_gamerules.obj
game/client/Debug_tf_mod/sixense_convars.obj
game/client/Debug_tf_mod/smoke_fog_overlay.obj
game/client/Debug_tf_mod/SoundEmitterSystem.obj
game/client/Debug_tf_mod/soundenvelope.obj
game/client/Debug_tf_mod/SoundParametersInternal.obj
game/client/Debug_tf_mod/SpectatorGUI.obj
game/client/Debug_tf_mod/splinepatch.obj
game/client/Debug_tf_mod/Sprite.obj
game/client/Debug_tf_mod/spritemodel.obj
game/client/Debug_tf_mod/SpriteTrail.obj
game/client/Debug_tf_mod/stdafx.obj
game/client/Debug_tf_mod/stringregistry.obj
game/client/Debug_tf_mod/studio.obj
game/client/Debug_tf_mod/studio_shared.obj
game/client/Debug_tf_mod/studio_stats.obj
game/client/Debug_tf_mod/takedamageinfo.obj
game/client/Debug_tf_mod/TeamBitmapImage.obj
game/client/Debug_tf_mod/teammaterialproxy.obj
game/client/Debug_tf_mod/teammenu.obj
game/client/Debug_tf_mod/teamplay_gamerules.obj
game/client/Debug_tf_mod/teamplay_round_timer.obj
game/client/Debug_tf_mod/teamplayroundbased_gamerules.obj
game/client/Debug_tf_mod/test_ehandle.obj
game/client/Debug_tf_mod/text_message.obj
game/client/Debug_tf_mod/texturescrollmaterialproxy.obj
game/client/Debug_tf_mod/tf_classmenu.obj
game/client/Debug_tf_mod/tf_clientscoreboard.obj
game/client/Debug_tf_mod/tf_controls.obj
game/client/Debug_tf_mod/tf_fx_blood.obj
game/client/Debug_tf_mod/tf_fx_ejectbrass.obj
game/client/Debug_tf_mod/tf_fx_explosions.obj
game/client/Debug_tf_mod/tf_fx_impacts.obj
game/client/Debug_tf_mod/tf_fx_muzzleflash.obj
game/client/Debug_tf_mod/tf_fx_particleeffect.obj
game/client/Debug_tf_mod/tf_fx_shared.obj
game/client/Debug_tf_mod/tf_fx_taunteffects.obj
game/client/Debug_tf_mod/tf_fx_tracers.obj
game/client/Debug_tf_mod/tf_gamemovement.obj
game/client/Debug_tf_mod/tf_gamerules.obj
game/client/Debug_tf_mod/tf_gamestats_shared.obj
game/client/Debug_tf_mod/tf_hud_account.obj
game/client/Debug_tf_mod/tf_hud_ammostatus.obj
game/client/Debug_tf_mod/tf_hud_building_status.obj
game/client/Debug_tf_mod/tf_hud_chat.obj
game/client/Debug_tf_mod/tf_hud_cloakmeter.obj
game/client/Debug_tf_mod/tf_hud_damageindicator.obj
game/client/Debug_tf_mod/tf_hud_deathnotice.obj
game/client/Debug_tf_mod/tf_hud_demomancharge.obj
game/client/Debug_tf_mod/tf_hud_demomanpipes.obj
game/client/Debug_tf_mod/tf_hud_disguise_status.obj
game/client/Debug_tf_mod/tf_hud_flagstatus.obj
game/client/Debug_tf_mod/tf_hud_freezepanel.obj
game/client/Debug_tf_mod/tf_hud_mediccallers.obj
game/client/Debug_tf_mod/tf_hud_mediccharge.obj
game/client/Debug_tf_mod/tf_hud_menu_engy_build.obj
game/client/Debug_tf_mod/tf_hud_menu_engy_destroy.obj
game/client/Debug_tf_mod/tf_hud_menu_spy_disguise.obj
game/client/Debug_tf_mod/tf_hud_notification_panel.obj
game/client/Debug_tf_mod/tf_hud_objectivestatus.obj
game/client/Debug_tf_mod/tf_hud_playerstatus.obj
game/client/Debug_tf_mod/tf_hud_scope.obj
game/client/Debug_tf_mod/tf_hud_stalemate.obj
game/client/Debug_tf_mod/tf_hud_statpanel.obj
game/client/Debug_tf_mod/tf_hud_target_id.obj
game/client/Debug_tf_mod/tf_hud_teamgoal.obj
game/client/Debug_tf_mod/tf_hud_teamswitch.obj
game/client/Debug_tf_mod/tf_hud_waitingforplayers_panel.obj
game/client/Debug_tf_mod/tf_hud_weaponselection.obj
game/client/Debug_tf_mod/tf_hud_winpanel.obj
game/client/Debug_tf_mod/tf_imagepanel.obj
game/client/Debug_tf_mod/tf_input_main.obj
game/client/Debug_tf_mod/tf_intromenu.obj
game/client/Debug_tf_mod/tf_item.obj
game/client/Debug_tf_mod/tf_mapinfomenu.obj
game/client/Debug_tf_mod/tf_obj_baseupgrade_shared.obj
game/client/Debug_tf_mod/tf_player_shared.obj
game/client/Debug_tf_mod/tf_playeranimstate.obj
game/client/Debug_tf_mod/tf_playerclass_info_parse.obj
game/client/Debug_tf_mod/tf_playerclass_shared.obj
game/client/Debug_tf_mod/tf_prediction.obj
game/client/Debug_tf_mod/tf_presence.obj
game/client/Debug_tf_mod/tf_projectile_base.obj
game/client/Debug_tf_mod/tf_projectile_nail.obj
game/client/Debug_tf_mod/tf_roundinfo.obj
game/client/Debug_tf_mod/tf_shareddefs.obj
game/client/Debug_tf_mod/tf_spectatorgui.obj
game/client/Debug_tf_mod/tf_statsummary.obj
game/client/Debug_tf_mod/tf_steamstats.obj
game/client/Debug_tf_mod/tf_teammenu.obj
game/client/Debug_tf_mod/tf_textwindow.obj
game/client/Debug_tf_mod/tf_tips.obj
game/client/Debug_tf_mod/tf_usermessages.obj
game/client/Debug_tf_mod/tf_vgui_video.obj
game/client/Debug_tf_mod/tf_viewmodel.obj
game/client/Debug_tf_mod/tf_viewport.obj
game/client/Debug_tf_mod/tf_viewrender.obj
game/client/Debug_tf_mod/tf_weapon_bat.obj
game/client/Debug_tf_mod/tf_weapon_bonesaw.obj
game/client/Debug_tf_mod/tf_weapon_bottle.obj
game/client/Debug_tf_mod/tf_weapon_club.obj
game/client/Debug_tf_mod/tf_weapon_fireaxe.obj
game/client/Debug_tf_mod/tf_weapon_fists.obj
game/client/Debug_tf_mod/tf_weapon_flamethrower.obj
game/client/Debug_tf_mod/tf_weapon_grenade_pipebomb.obj
game/client/Debug_tf_mod/tf_weapon_grenadelauncher.obj
game/client/Debug_tf_mod/tf_weapon_invis.obj
game/client/Debug_tf_mod/tf_weapon_knife.obj
game/client/Debug_tf_mod/tf_weapon_medigun.obj
game/client/Debug_tf_mod/tf_weapon_minigun.obj
game/client/Debug_tf_mod/tf_weapon_parse.obj
game/client/Debug_tf_mod/tf_weapon_pda.obj
game/client/Debug_tf_mod/tf_weapon_pipebomblauncher.obj
game/client/Debug_tf_mod/tf_weapon_pistol.obj
game/client/Debug_tf_mod/tf_weapon_revolver.obj
game/client/Debug_tf_mod/tf_weapon_rocketlauncher.obj
game/client/Debug_tf_mod/tf_weapon_shotgun.obj
game/client/Debug_tf_mod/tf_weapon_shovel.obj
game/client/Debug_tf_mod/tf_weapon_smg.obj
game/client/Debug_tf_mod/tf_weapon_sniperrifle.obj
game/client/Debug_tf_mod/tf_weapon_syringegun.obj
game/client/Debug_tf_mod/tf_weapon_wrench.obj
game/client/Debug_tf_mod/tf_weaponbase.obj
game/client/Debug_tf_mod/tf_weaponbase_grenadeproj.obj
game/client/Debug_tf_mod/tf_weaponbase_gun.obj
game/client/Debug_tf_mod/tf_weaponbase_melee.obj
game/client/Debug_tf_mod/tf_weaponbase_rocket.obj
game/client/Debug_tf_mod/timematerialproxy.obj
game/client/Debug_tf_mod/toggletextureproxy.obj
game/client/Debug_tf_mod/toolframework_client.obj
game/client/Debug_tf_mod/train.obj
game/client/Debug_tf_mod/usercmd.obj
game/client/Debug_tf_mod/usermessages.obj
game/client/Debug_tf_mod/util_shared.obj
game/client/Debug_tf_mod/vallocator.obj
game/client/Debug_tf_mod/vc120.idb
game/client/Debug_tf_mod/vc120.pdb
game/client/Debug_tf_mod/vehicle_viewblend_shared.obj
game/client/Debug_tf_mod/vgui_avatarimage.obj
game/client/Debug_tf_mod/vgui_basepanel.obj
game/client/Debug_tf_mod/vgui_bitmapbutton.obj
game/client/Debug_tf_mod/vgui_bitmapimage.obj
game/client/Debug_tf_mod/vgui_bitmappanel.obj
game/client/Debug_tf_mod/vgui_centerstringpanel.obj
game/client/Debug_tf_mod/vgui_consolepanel.obj
game/client/Debug_tf_mod/vgui_controls.obj
game/client/Debug_tf_mod/vgui_debugoverlaypanel.obj
game/client/Debug_tf_mod/vgui_fpspanel.obj
game/client/Debug_tf_mod/vgui_game_viewport.obj
game/client/Debug_tf_mod/vgui_grid.obj
game/client/Debug_tf_mod/vgui_int.obj
game/client/Debug_tf_mod/vgui_loadingdiscpanel.obj
game/client/Debug_tf_mod/vgui_messagechars.obj
game/client/Debug_tf_mod/vgui_netgraphpanel.obj
game/client/Debug_tf_mod/vgui_pda_panel.obj
game/client/Debug_tf_mod/vgui_rootpanel_tf.obj
game/client/Debug_tf_mod/vgui_rotation_slider.obj
game/client/Debug_tf_mod/vgui_schemevisualizer.obj
game/client/Debug_tf_mod/vgui_slideshow_display_screen.obj
game/client/Debug_tf_mod/vgui_video.obj
game/client/Debug_tf_mod/vgui_video_player.obj
game/client/Debug_tf_mod/vguitextwindow.obj
game/client/Debug_tf_mod/view.obj
game/client/Debug_tf_mod/view_beams.obj
game/client/Debug_tf_mod/view_effects.obj
game/client/Debug_tf_mod/view_scene.obj
game/client/Debug_tf_mod/viewangleanim.obj
game/client/Debug_tf_mod/ViewConeImage.obj
game/client/Debug_tf_mod/viewdebug.obj
game/client/Debug_tf_mod/viewpostprocess.obj
game/client/Debug_tf_mod/viewrender.obj
game/client/Debug_tf_mod/voice_banmgr.obj
game/client/Debug_tf_mod/voice_menu.obj
game/client/Debug_tf_mod/voice_status.obj
game/client/Debug_tf_mod/warp_overlay.obj
game/client/Debug_tf_mod/WaterLODMaterialProxy.obj
game/client/Debug_tf_mod/weapon_ifmbase.obj
game/client/Debug_tf_mod/weapon_ifmbasecamera.obj
game/client/Debug_tf_mod/weapon_ifmsteadycam.obj
game/client/Debug_tf_mod/weapon_parse.obj
game/client/Debug_tf_mod/weapon_selection.obj
game/client/Debug_tf_mod/weapons_resource.obj
game/client/Debug_tf_mod/WorldDimsProxy.obj
lib/public/tier1.lib
lib/public/vgui_controls.lib
tier1/Debug/convar.obj
tier1/Debug/ilocalize.obj
tier1/Debug/KeyValues.obj
tier1/Debug/kvpacker.obj
tier1/Debug/tier1.log
tier1/Debug/tier1.tlog/cl.command.1.tlog
tier1/Debug/tier1.tlog/CL.read.1.tlog
tier1/Debug/tier1.tlog/cl.write.1.tlog
tier1/Debug/utlbufferutil.obj
tier1/Debug/utlsymbol.obj
tier1/Debug/vc120.idb
tier1/Debug/vc120.pdb
vgui2/vgui_controls/Debug/AnalogBar.obj
vgui2/vgui_controls/Debug/AnimatingImagePanel.obj
vgui2/vgui_controls/Debug/AnimationController.obj
vgui2/vgui_controls/Debug/BitmapImagePanel.obj
vgui2/vgui_controls/Debug/BuildGroup.obj
vgui2/vgui_controls/Debug/BuildModeDialog.obj
vgui2/vgui_controls/Debug/Button.obj
vgui2/vgui_controls/Debug/CheckButton.obj
vgui2/vgui_controls/Debug/CheckButtonList.obj
vgui2/vgui_controls/Debug/CircularProgressBar.obj
vgui2/vgui_controls/Debug/ComboBox.obj
vgui2/vgui_controls/Debug/consoledialog.obj
vgui2/vgui_controls/Debug/ControllerMap.obj
vgui2/vgui_controls/Debug/CvarToggleCheckButton.obj
vgui2/vgui_controls/Debug/DirectorySelectDialog.obj
vgui2/vgui_controls/Debug/Divider.obj
vgui2/vgui_controls/Debug/EditablePanel.obj
vgui2/vgui_controls/Debug/ExpandButton.obj
vgui2/vgui_controls/Debug/FileOpenDialog.obj
vgui2/vgui_controls/Debug/FileOpenStateMachine.obj
vgui2/vgui_controls/Debug/FocusNavGroup.obj
vgui2/vgui_controls/Debug/Frame.obj
vgui2/vgui_controls/Debug/GraphPanel.obj
vgui2/vgui_controls/Debug/HTML.obj
vgui2/vgui_controls/Debug/Image.obj
vgui2/vgui_controls/Debug/ImageList.obj
vgui2/vgui_controls/Debug/ImagePanel.obj
vgui2/vgui_controls/Debug/InputDialog.obj
vgui2/vgui_controls/Debug/KeyBindingHelpDialog.obj
vgui2/vgui_controls/Debug/KeyBoardEditorDialog.obj
vgui2/vgui_controls/Debug/KeyRepeat.obj
vgui2/vgui_controls/Debug/Label.obj
vgui2/vgui_controls/Debug/ListPanel.obj
vgui2/vgui_controls/Debug/ListViewPanel.obj
vgui2/vgui_controls/Debug/Menu.obj
vgui2/vgui_controls/Debug/MenuBar.obj
vgui2/vgui_controls/Debug/MenuButton.obj
vgui2/vgui_controls/Debug/MenuItem.obj
vgui2/vgui_controls/Debug/MessageBox.obj
vgui2/vgui_controls/Debug/MessageDialog.obj
vgui2/vgui_controls/Debug/Panel.obj
vgui2/vgui_controls/Debug/PanelListPanel.obj
vgui2/vgui_controls/Debug/PerforceFileExplorer.obj
vgui2/vgui_controls/Debug/PerforceFileList.obj
vgui2/vgui_controls/Debug/perforcefilelistframe.obj
vgui2/vgui_controls/Debug/ProgressBar.obj
vgui2/vgui_controls/Debug/ProgressBox.obj
vgui2/vgui_controls/Debug/PropertyDialog.obj
vgui2/vgui_controls/Debug/PropertyPage.obj
vgui2/vgui_controls/Debug/PropertySheet.obj
vgui2/vgui_controls/Debug/QueryBox.obj
vgui2/vgui_controls/Debug/RadioButton.obj
vgui2/vgui_controls/Debug/RichText.obj
vgui2/vgui_controls/Debug/RotatingProgressBar.obj
vgui2/vgui_controls/Debug/savedocumentquery.obj
vgui2/vgui_controls/Debug/ScalableImagePanel.obj
vgui2/vgui_controls/Debug/ScrollableEditablePanel.obj
vgui2/vgui_controls/Debug/ScrollBar.obj
vgui2/vgui_controls/Debug/ScrollBarSlider.obj
vgui2/vgui_controls/Debug/SectionedListPanel.obj
vgui2/vgui_controls/Debug/Slider.obj
vgui2/vgui_controls/Debug/Splitter.obj
vgui2/vgui_controls/Debug/subrectimage.obj
vgui2/vgui_controls/Debug/TextEntry.obj
vgui2/vgui_controls/Debug/TextImage.obj
vgui2/vgui_controls/Debug/ToggleButton.obj
vgui2/vgui_controls/Debug/Tooltip.obj
vgui2/vgui_controls/Debug/ToolWindow.obj
vgui2/vgui_controls/Debug/TreeView.obj
vgui2/vgui_controls/Debug/TreeViewListControl.obj
vgui2/vgui_controls/Debug/URLLabel.obj
vgui2/vgui_controls/Debug/vc120.idb
vgui2/vgui_controls/Debug/vc120.pdb
vgui2/vgui_controls/Debug/vgui_controls.log
vgui2/vgui_controls/Debug/vgui_controls.tlog/cl.command.1.tlog
vgui2/vgui_controls/Debug/vgui_controls.tlog/CL.read.1.tlog
vgui2/vgui_controls/Debug/vgui_controls.tlog/cl.write.1.tlog
vgui2/vgui_controls/Debug/WizardPanel.obj
vgui2/vgui_controls/Debug/WizardSubPanel.obj
*.obj
.vs/games/v16/Browse.VC.db
*.db
*.ipch
*.tlog
game/client/Release_tf_mod/client.dll
game/client/Release_tf_mod/client.exp
game/client/Release_tf_mod/client.lib
game/client/Release_tf_mod/client.pch
game/client/Release_tf_mod/client.pdb
game/client/Release_tf_mod/client_tf_mod.log
game/client/Release_tf_mod/vc120.pdb
game/server/Release_tf_mod/server.dll
game/server/Release_tf_mod/server.exp
game/server/Release_tf_mod/server.lib
game/server/Release_tf_mod/server.pch
game/server/Release_tf_mod/server.pdb
game/server/Release_tf_mod/server_tf_mod.log
game/server/Release_tf_mod/vc120.pdb
raytrace/Debug/raytrace.obj
.vs/games/v16/.suo
.vs/games/v16/ipch/413a0f483e4bb106.ipch
.vs/games/v16/ipch/416ed680ce235856.ipch
.vs/games/v16/Solution.VC.db
lib/public/mathlib.lib
lib/public/raytrace.lib
lib/public/tier1.lib
lib/public/vgui_controls.lib
mathlib/Release/mathlib.log
raytrace/Debug/raytrace.log
raytrace/Debug/raytrace.obj
raytrace/Debug/Raytrace.tlog/CL.read.1.tlog
raytrace/Debug/Raytrace.tlog/cl.write.1.tlog
raytrace/Debug/trace2.obj
raytrace/Debug/trace3.obj
raytrace/Debug/vc120.idb
raytrace/Debug/vc120.pdb
raytrace/Release/raytrace.log
tier1/Release/tier1.log
vgui2/vgui_controls/Release/vgui_controls.log
.vs/games/v16/.suo
.vs/games/v16/ipch/413a0f483e4bb106.ipch
.vs/games/v16/ipch/416ed680ce235856.ipch
.vs/games/v16/Solution.VC.db
lib/public/mathlib.lib
lib/public/raytrace.lib
lib/public/tier1.lib
lib/public/vgui_controls.lib
raytrace/Debug/raytrace.log
raytrace/Debug/raytrace.obj
raytrace/Debug/Raytrace.tlog/CL.read.1.tlog
raytrace/Debug/Raytrace.tlog/cl.write.1.tlog
raytrace/Debug/trace2.obj
raytrace/Debug/trace3.obj
raytrace/Debug/vc120.idb
raytrace/Debug/vc120.pdb
raytrace/Release/raytrace.log
.vs/games/v16/.suo
.vs/games/v16/ipch/413a0f483e4bb106.ipch
.vs/games/v16/ipch/416ed680ce235856.ipch
.vs/games/v16/Solution.VC.db
lib/public/mathlib.lib
lib/public/raytrace.lib
lib/public/tier1.lib
lib/public/vgui_controls.lib
raytrace/Debug/raytrace.log
raytrace/Debug/raytrace.obj
raytrace/Debug/Raytrace.tlog/CL.read.1.tlog
raytrace/Debug/Raytrace.tlog/cl.write.1.tlog
raytrace/Debug/trace2.obj
raytrace/Debug/trace3.obj
raytrace/Debug/vc120.idb
raytrace/Debug/vc120.pdb
raytrace/Release/raytrace.log
raytrace/Release/trace2.obj
raytrace/Release/trace3.obj
raytrace/Release/trace2.obj
raytrace/Release/trace3.obj
raytrace/Release/Raytrace.tlog/cl.write.1.tlog
raytrace/Release/Raytrace.tlog/CL.read.1.tlog
raytrace/Release/raytrace.obj
lib/public/vgui_controls.lib
lib/public/tier1.lib
lib/public/raytrace.lib
lib/public/mathlib.lib
.vs/games/v16/.suo
.vs/games/v16/.suo
game/client/client_tf_mod.vcxproj.filters
